.circle {
  position: relative;
  margin: 20px auto;
  border: 1px solid #c0dfd9;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  visibility: hidden;
}
button {
  margin: 20px;
  padding: 6px;
  min-width: 100px;
  background-color: #fff;
  border: 1px solid #b3c2bf;
  border-radius: 4px;
  color: #b3c2bf;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: 1px solid #b3c2bf;
  background-color: #b3c2bf;
  color: #e9ece5;
}
#fileName {
  color: #b3c2bf;
}
